.dsmovie-list {

    background-color: rgb(221, 221, 221);
    border-radius: 12px;

    overflow: hidden;

    margin-top: 8vh;
    margin-inline: 8vh;
    min-height: 50vh;
    margin-bottom: 10rem;
}

.dsmovie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    justify-content: first baseline;
    align-items: flex-start;
    padding: 1rem;
}

.dsmovie-empty-list {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
    color: rgb(156, 156, 156);
}

@media (max-width: 600px) {
    .dsmovie-grid {
        margin-inline: 0;
        justify-content: start;
    }
}